.inputFileContainer{
    padding: 10px;
    input{
        position: absolute;
        overflow: hidden;
        z-index: -1;
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
    }

    label{
        display: inline-block;
        cursor: pointer;
        background: firebrick;
        padding: 5px 30px;
        color: white;
    }
}